$main-color: #35bcff;
@mixin main-gradient {
  background: linear-gradient(120deg, #5ee7df 0%, #8fd3f4 100%);
}
@mixin hover-gradient {
  background: linear-gradient(120deg, rgb(120, 231, 224) 0%, #afe4ff 100%);
}
$font-color: #002a77;

$title: 1.75rem;
$second-title: 1.5rem;
$text: 1.25rem;

$medium-title: 2rem;
$medium-second-title: 1.8rem;
$medium-text: 1.5rem;

$large-title: 2.5rem;
$large-second-title: 2.25rem;
$large-text: 2rem;

html {
  height: 100%;
  min-height: 320px;
  min-width: 320px;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  height: 100%;
  color: $font-color;
}

.cursor-pointer {
  cursor: pointer;
}

.h100 {
  height: 100%;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

.scrollbar {
  padding-left: 6px;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

main {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
}
