@import "../styles/base.scss";
.chat-space {
  .chat-box {
    word-wrap: break-word;
    font-size: $text;
    width: fit-content;
    padding: 1rem;
    line-height: 1.5;
    text-align: left;
    @include main-gradient;
    color: $font-color;
    border-radius: 1rem;
    white-space: normal;
  }
}

.your-message-title {
  display: none;
}

.other-message-title {
  margin: 1rem 0 0 1rem;
}

.your-message {
  margin: 1rem 1rem 1rem 5rem;
  align-self: flex-end;
}

.other-message {
  margin: 1rem 5rem 1rem 1rem;
  align-self: flex-start;
}

.type-place {
  padding: 1rem;
  @include main-gradient;
  .input-container {
    position: relative;
    .chat-input {
      font-size: $text;
      width: 100%;
      padding: 0 3rem 0 1rem;
      line-height: calc($text + 1rem);
      border-radius: 10rem;
      border: none;
      flex-grow: 1;
    }
    .icon-container {
      position: absolute;
      right: 6px;
      top: 50%;
      transform: translateY(-50%);
      .send-message-btn {
        @include main-gradient;
        border: none;
        border-radius: 1rem;
        padding-left: 0.6rem;
        &:hover,
        &:active {
          @include hover-gradient;
        }
      }
    }
  }
}
