@import "./base.scss";

.title {
  padding: 1rem;
  text-align: center;
  line-height: 3rem;
  font-size: $font-size-title;
}

.radio-male-container,
.radio-female-container {
  margin: 1rem 1rem 0 1rem;
}

.checkbox-text {
  font-size: $font-size-small-title;
}

.generate-result {
  height: 2rem;
  margin: 1rem;
  font-size: 3rem;
  color: $main-color;
}

.start-chatting-btn {
  margin: 0 2rem 5rem 2rem;
  padding: 1.5rem 1rem;
  color: $font-color;
  @include main-gradient;
  border: none;
  border-radius: 1rem;
  font-size: $font-size-title;
  transition: background-color 0.5s, color 0.5s;
  text-align: center;
  &:hover {
    border-radius: 1rem;
    @include hover-gradient;
  }
}
